<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
</head>

<body>
    <h1>Detalles del Carrito</h1>

    <header>
        <h1>My Cart</h1>
    </header>

    {{#each cart}}
    <div class="cart-item">
        <h3>Product ID:{{cart.products.productId}}</h3>
        <p>Product Name: {{this.products.productName}}</p>
        <p>Quantity: {{this.quantity}}</p>
    </div>
    {{/each}}

    {{#each cart.products}}
    <div class="cart-item">
        <h3>{{this.productId.product_name}}</h3>
        <p>Quantity: {{this.quantity}}</p>
    </div>
{{/each}}


    <a href="/api/products">Back to Products</a>

    {{#each carts}}
    <div>
        <p>Carrito ID: {{this._id}}</p>

        {{#if this.products.length}}
        <p>Este carrito posee productos</p>
        {{#each this.products}}

        {{/each}}
        {{else}}
        <p>Este carrito está vacío.</p>
        {{/if}}
    </div>
    {{/each}}
</body>

</html>